*{
  padding: 0;
  margin: 0;
  border: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

/*Footer Styles */

.App-Footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  background-color: #282c34;
  color: white;
  min-width: 100vw;
}

/* React Router Styling */
.React-Router-headlinks{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #282c34;
}

.React-Router-Group {
  width: 100%;
  display: flex;
  
  background-color: #282c34;
}

.React-Router-sublinks {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #282c34;
}


.React-Router-Links:hover {
  background-color: #111;
}

.React-Router-Links {
  background-color: #282c34;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*Page styling */
.Main-Content {
  margin: auto;
  max-width: 1400px;
  vertical-align: middle;
  
 
}

.Main-Title {
  text-align: center ;
  
}

.Main-Paragraph {
  padding-left: 2.5vw;
  padding-right: 2.5vw;
}

/* React-table Styling */
table {
  padding-top: 10vh;
  border-collapse: collapse;
  text-align: center ;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* Column styling*/
table th {
  padding: 1vh;
  background: rgb(0, 79, 148);
  color: rgb(255, 255, 255);
  font-weight: bold;
  column-width: auto;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
}

/* Data Styling*/
td {
  padding: 10px;
  background: rgb(0, 44, 82);
  border: 1px solid white;
  border-right: 3px solid white;
  color: white;
}