*{
  padding: 0;
  margin: 0;
  border: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

/*Footer Styles */

.App-Footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  background-color: #282c34;
  color: white;
  min-width: 100vw;
}

/* React Router Styling */
.React-Router-headlinks{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #282c34;
}

.React-Router-sublinks {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #282c34;
}

.React-Router-headlinks {
  float: left;
}

.React-Router-Links:hover {
  background-color: #111;
}

.React-Router-Links {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*Page styling */
.Main-Content {
  margin: auto;
  max-width: 1400px;
  vertical-align: middle;
  
 
}

.Main-Title {
  text-align: center ;
  
}

.Main-Paragraph {
  padding-left: 2.5vw;
  padding-right: 2.5vw;
}

/* React-table Styling */
table {
  border: 'solid 1px blue';
  text-align: center ;
  align-items: center;
  justify-content: center;
  
}

table th {
  border-bottom: solid 3px black;
  background: aliceblue;
  color: black;
  font-weight: bold;
}

td {
  padding: 10px;
  border: solid 1px black;
  background: papayawhip;
}