.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

/*Footer Styles */

.App-Footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  background-color: #282c34;
  color: white;
  min-width: 100vw;
}

/*Page styling */
.Main-Content {
  margin: auto;
  width: 60vw;
  vertical-align: middle;
  
 
}

.Main-Title {
  text-align: center ;
  
}

.Main-Paragraph {
  padding-left: 2.5vw;
  padding-right: 2.5vw;
}